#heat_pump_data {
  margin: 20px auto;
  width: auto;
  text-align: center;
  border-collapse: collapse;
  font-size: 1em;
  font-family: "Arial", sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  position: relative;
}

#logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 225px;
  height: auto;
}

#health_report {
  margin-top: 50px;
}

h1 {
  color: #3b4049;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

h4 {
  font-size: 26px;
  font-weight: bold;
}

h6 {
  font-size: 16px;
}
/* Table Heading */
.table-heading h4,
h6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  color: #3b4049;
}
.table-heading h6 {
  margin-top: 30px;
  color: #3b4049;
}

/* Site and Date Span Styling */
.table-heading .site-info {
  text-align: left;
  position: absolute;
  color: #3b4049;
}

.table-heading .date-info {
  text-align: left;
  margin-left: 300px;
  position: absolute;
  color: #3b4049;
}

.table-heading .passes {
  text-align: left;
  position: absolute;
  color: #3b4049;
}

.table-heading .faults {
  text-align: left;
  margin-left: 170px;
  position: absolute;
  color: #3b4049;
}

.table-heading .warnings {
  text-align: left;
  margin-left: 340px;
  position: absolute;
  color: #3b4049;
}

.table-heading .nas {
  text-align: left;
  margin-left: 510px;
  position: absolute;
  color: #3b4049;
}

#table {
  margin: 20px;
  color: #3b4049;
}

/* Table Header */
#heat_pump_data thead tr,
button {
  background-color: #1cb683;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  width: 100%;
}

button {
  margin: 10px 0px;
  border-radius: 10px;
  border: 1px solid black;
}
/* Table Cells */
#heat_pump_data th,
#heat_pump_data td {
  /*padding: 12px 15px;*/
  border: 1px solid #dddddd;
}

/* Table Row */
#heat_pump_data tbody tr {
  border-bottom: 1px solid #dddddd;
  color: #3b4049;
}

/* Alternate Row Colors */
#heat_pump_data tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  color: #3b4049;
}
